uvicorn
pymongo
pandas
dotenv
fastapi

# cd sales-analytics-llm
# uvicorn main:app --reload

# Frontend
# cd Frontend/react-app
# npm start

# Backend
# node index.js

# Insights
# cd analytics/insights
# uvicorn main:app --reload --port 9000